<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        select{
            display: inline-block;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Home ejs</h1>
    <ul>
        <li>
            // copier coller le fastOrder et boom un js front le transforme en prix qte
        </li>
        <li>
            // bouton valider qui apparait
        </li>
    </ul>
    <form action="/check-text-orders" method="POST" id="usrform">
        <div>
            <label for="symbol">symbol:</label>
            <input 
                type="text" 
                name="symbol" 
                required
                minlength="6" 
                maxlength="7"
                placeholder="exemple XRPBTC" 
                value="XRPBTC"
            />
            <span class="validity"></span>

            <select name="type">
                <option value="BUY" selected>BUY</option>
                <option value="SELL">SELL</option> 
            </select>
        </div>
        <textarea name="orders" form="usrform" cols="30" rows="10">prix quantité

exemple :

0.0000540 50
0.0000600 30.5</textarea>
        <div>
            <input type="submit" value="Vérifier">
        </div>
    </form>

    <ul>
        <% orders.forEach((order, index) => { %>
            <li>ordre numéro <%= index + 1 %> au prix de <%= order.price %> et avec une quantité de <%= order.quantity %></li>
        <% }); %>
    </ul>

</body>
</html>
