<h1>Home ejs</h1>
<ul>
    <li>
        // afficher une page esx avec input zone txt
    </li>
    <li>
        // copier coller le fastOrder et boom
    </li>
    <li>
        // bouton valider qui apparait
    </li>
</ul>